.btn {
    background-color: $mainBlue;
    color: #FFF;
    text-decoration: none;
    padding: .75rem 1.2rem;
    display: inline-block;

    &--orange {
        background-color: #d59541;
    }

    &--large {
        padding: 1.1rem 1.9 rem;

        @mixin atSmall {
            font-size: 1.25rem;
        }
    }
}